[submodule "Front"]
	path = Front
	url = https://github.com/FloweryRoads/FloweryRoads-Front.git
[submodule "API"]
	path = API
	url = https://github.com/FloweryRoads/FloweryRoads-API.git
[submodule "Crawler"]
	path = Crawler
	url = https://github.com/FloweryRoads/FloweryRoads-Crawler.git
[submodule "SafetyDataAPI"]
	path = SafetyDataAPI
	url = https://github.com/FloweryRoads/FR-SafetyData-API.git
